<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_travelcars_driver">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="flutter_travelcars_driver"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher">
        <!-- Остальные настройки приложения и активности -->
    </application>
</manifest>
